*{
    box-sizing: border-box;
}
body{
    background-color: white;
    font-size: 18px;
    align-items: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    margin: 0;
     
}
.container{
    background-color: white;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 10px;
    padding: 30px;
    width: 1000px;
    text-align: center;
}    
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    /* margin: 40px 0;
    flex-wrap: wrap; */
    
}
.input {
    border-radius: 5px;
    font-size: 75px;
    height: 120px;
    width: 100px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
  }
@media (max-width: 800px) {
    .code-container {
      flex-wrap: wrap;
    }
    .input{
        font-size: 50px;
        height: 70px;
        max-width: 60px;
    }
}
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.sec{
    /* font-size: 18px; */
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    
    border-radius: 5px;
    color: rgb(55, 55, 57);

}
